* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  padding: 2% 10%;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  width: 50vw;
  justify-content: center;
}

nav li {
  list-style: none;
  padding: 0 5%;
  cursor: pointer;
}

nav li:hover {
  text-decoration: underline;
  font-weight: 700;
}

.flex {
  display: flex;
  align-items: center;
}

#logo {
  border: 1px solid black;
  border-radius: 100%;
  padding: 2%;
  width: 75px;
  text-align: center;
}

#movie-container {
  padding: 5% 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.item-data {
  display: grid;
  grid-template-columns: auto auto;
}

.item-data > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#movie-container > div {
  background-color: whitesmoke;
  width: 20vw;
}

#movie-container > div > div:first-child {
  background-color: gray;
  height: 50vh;
}

#movie-container > div > div:last-child {
  padding: 1em;
}

#movie-container > div svg {
  align-self: center;
  border: 0;
  font-size: 1.5em;
  cursor: pointer;
}

#movie-container img {
  width: 100%;
  height: 100%;
}
